<template>  
  <div class="orders">
    <div class="orders__title">
      Orders
    </div>
    
    <orders-table 
      :items="all"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import OrdersTable from './_components/OrdersTable'

export default {
  name: 'Orders',
  components: {
    OrdersTable
  },
  data(){
    return {
     
    }
  },
  computed: {
    ...mapGetters({
      all: 'orders/all'
    })
  },
  methods: {

  }
}
</script>

<style lang="scss">

.orders {
  &__title {
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
  }
}

</style>
