<template>  
  <div class="stores">
    <div class="stores__title">
      Stores
    </div>

    <stores-table 
      :items="all"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import StoresTable from './_components/StoresTable'

export default {
  name: 'Stores',
  components: {
    StoresTable
  },
  data(){
    return {
     
    }
  },
  computed: {
    ...mapGetters({
      all: 'stores/all'
    })
  },
  methods: {

  }
}
</script>

<style lang="scss">

.stores {
  &__title {
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
  }
}

</style>
