<template>
  <div class="base-nav">
    <div class="base-nav__logo">
      <slot name="logo" />
    </div>
    <div class="base-nav__items">
      <div 
        class="base-nav__items-item" 
        v-for="item in items" 
        :key="item.name" 
        @click="onClick(item)"
      >
        {{ item.name }}
      </div>
    </div>
    <div class="base-nav__right">
      <slot name="right" />
    </div>
  </div>
</template>

<script>

export default {
  name: 'BaseNav',
  props: {
    items: {
      type: Array,
      required: true
    }
  },
  methods: {
    onClick (item) {
      this.$emit('change', item)
    }
  }
}
</script>

<style lang="scss">

.base-nav {
  background-color: $gray-100;
  display: flex;  

  &__logo {
    padding: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    
  }

  &__right {
    display: flex;
    flex: 1;
  }

  &__items {
    display: flex;
    flex: 2;

    &-item {
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      cursor: pointer;

      &:hover {
        background-color: $gray-200;
      }
    }
  }
    
}

</style>
