<template>
  <div class="orders-table">
    <table>
      <tr>
        <th>uuid</th>
        <th>created_at</th> 
        <th>name</th>
        <th>status</th>
        <th>total</th>
      </tr>
      <tr
        v-for="order in items"
        :key="order.uuid"
      >
        <td>{{ order.uuid }}</td>
        <td>{{ order.created_at }}</td>
        <td>{{ order.name }}</td>
        <td>{{ order.statusName }}</td>
        <td>$ {{ order.value.toFixed(2) }}</td>
      </tr>
    </table>
  </div>
</template>

<script>

import Order from '@models/Order.js'

export default {
  name: 'OrdersTable',
  props: {
    items: {
      type: Array,
      required: true,
      validator: (items) => items.every(item => item instanceof Order)
    }
  },
  data(){
    return {
     
    }
  },
  methods: {

  }
}
</script>

<style lang="scss">

.orders-table {
  display: flex;

  & table {
    flex: 1;

    & tr {
      display: flex;
    }

    & th, td {
      flex: 1;
    }
  }
}

</style>
