<template>
  <div class="stores-table">
    <table>
      <tr>
        <th>uuid</th>
        <th>franchisee</th> 
        <th>address</th>
        <th>latitude</th>
        <th>longitude</th> 
        <th>active</th> 
      </tr>
      <tr
        v-for="order in items"
        :key="order.uuid"
      >
        <td>{{ order.uuid }}</td>
        <td>{{ order.franchisee }}</td>
        <td>{{ order.address }}</td>
        <td>{{ order.latitude }}</td>
        <td>{{ order.longitude }}</td>
        <td>{{ order.active }}</td>        
      </tr>
    </table>
  </div>
</template>

<script>

import Store from '@models/Store.js'

export default {
  name: 'StoresTable',
  props: {
    items: {
      type: Array,
      required: true,
      validator: (items) => items.every(item => item instanceof Store)
    }
  },
  data(){
    return {
     
    }
  },
  methods: {

  }
}
</script>

<style lang="scss">

.stores-table {
  display: flex;

  & table {
    flex: 1;

    & tr {
      display: flex;
    }

    & th, td {
      flex: 1;
    }
  }
}

</style>
