<template>
  <div class="app">
    <base-nav 
      :items="items"
      @change="changeItem"
    >
      <img
        slot="logo"
        style="height: 50px;"
        src="./assets/logo.png"
      >
      <div
        slot="right"
        class="app__right"
      >
        <div class="app__right-item">
          <div>
            Pedidos pendentes: {{ this.$store.getters['orders/count'].PENDING || 0 }}
          </div>
          <div>
            Pedidos na cozinha: {{ this.$store.getters['orders/count'].COOKING || 0 }}
          </div>
        </div>

        <div class="app__right-item">
          <div>
            Lojas online: {{ this.$store.getters['stores/count'].active || 0 }}
          </div>
          <div>
            Lojas offline: {{ this.$store.getters['stores/count'].inactive || 0 }}
          </div>
        </div>
      </div>
    </base-nav>

    <router-view />
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {
    
  },
  data(){
    return {
      items: [
        {
          name: 'Lojas',
          route: 'stores'
        },{
          name: 'Pedidos',
          route: 'orders'
        },
      ]
    }
  },
  methods: {
    changeItem (newItem) {
      this.$router.push({path: newItem.route})
    }
  },
  mounted() {
    Promise.all([
      this.$store.dispatch('orders/get'),
      this.$store.dispatch('stores/get')
    ])
  }
}
</script>

<style lang="scss">
body {
  font-family: 'Montserrat', sans-serif;
}

.app {
  &__logo {
    height: 50px;
  }

  &__right {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;

    &-item {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
}
</style>
